<!DOCTYPE html>
<html>
<head>

    <title>Bill Generated</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <div class="login-card">

        <h1> Bill Generated Successfully</h1>

        <h2>
            Total Amount:
            ₹ {{ total_amount }}
        </h2>

        <br>

        <a href="/billing">
            <button>
                Back To Billing Dashboard
            </button>
        </a>

    </div>

</div>

</body>
</html>