<!DOCTYPE html>

<html>
<head>


<title>Doctor Dashboard</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

<div class="dashboard-container">


<div class="dashboard-header">

    <h1>👨‍⚕️ Doctor Dashboard</h1>

    <p>Doctor Access Panel</p>

</div>

<div class="dashboard-cards">

    <a href="/viewpatients" class="card">
        <h2>📋</h2>
        <h3>View Patients</h3>
    </a>

    <a href="/medicines/recommendation" class="card">
        <h2>💊</h2>
        <h3>Medicine Recommendation</h3>
    </a>

    <a href="/reports" class="card">
        <h2>📊</h2>
        <h3>Reports</h3>
    </a>

    <a href="/feedback" class="card">
        <h2>⭐</h2>
        <h3>Feedback</h3>
    </a>

    {% if session['role'] == 'admin' %}
    <a href="/dashboard" class="card logout-card">
        <h2>🏠</h2>
        <h3>Main Dashboard</h3>
    </a>
      {% endif %}

    <a href="/logout" class="card logout-card">
        <h2>🚪</h2>
        <h3>Logout</h3>
    </a>

</div>


</div>

</body>
</html>
