<!DOCTYPE html>
<html>
<head>

    <title>Login Failed</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <div class="login-card">

        <h1 class="error-title">
            ❌ Login Failed
        </h1>

        <p class="subtitle">
            Invalid Username or Password
        </p>

        <a href="/">

            <button type="button">
                Back To Login
            </button>

        </a>

    </div>

</div>

</body>
</html>