<!DOCTYPE html>

<html>
<head>


<title>Reception Dashboard</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

<div class="dashboard-container">


<div class="dashboard-header">

    <h1>🧑‍💼 Reception Dashboard</h1>

    <p>Receptionist Access Panel</p>

</div>

<div class="dashboard-cards">


    <a href="/appointments" class="card">
            <h2>📅</h2>
            <h3>Appointments</h3>
        </a>
    <a href="/receptionviewpatients" class="card">
        <h2>📋</h2>
        <h3>View Patients</h3>
    </a>

    <a href="/billing" class="card">
        <h2>💰</h2>
        <h3>Billing</h3>
    </a>

 

    <a href="/logout" class="card logout-card">
        <h2>🚪</h2>
        <h3>Logout</h3>
    </a>

</div>


</div>

</body>
</html>
